@font-face {
    font-family: "tkt";
    src: url("../CHEDROS.ttf")}
*{
    margin: 0;
    font-family: tkt;
    user-select: none;
}
section{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right bottom, #051937, #131736, #1c1634, #241431, #2a122e);
    background-size: 100%;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top:30%;
}
.jeu{
    margin-top: 50px;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bouton{
    width: 150px;
    height: 90px;
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
}
.select{
    background-color: beige;
}
#restart{
    margin-top: 40px;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    font-size: 28px;
}
.score{
    color: aliceblue;
    font-size: 30px;
    padding-top: 5%;
}
.gg{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.9);
    visibility: hidden;
    z-index: 100;
}
.loose{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.9);
    visibility: hidden;
    z-index: 100;
}
.active{
    visibility: visible;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    position: absolute;
    top:19%;
}
.resultOrdi, .resultJoueur{
    width: 20vw;
    height: 40vh;   
}
.imgResultJoueur, .imgResultOrdi{
    width: 100%;
    height: 90%;
}
.addImagePierre{
    background-image: url(../img/pierre.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.addImageFeuille{
    background-image: url(../img/feuille.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.addImageCiseaux{
    background-image: url(../img/ciseaux.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
h2{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
.res{
    color: aliceblue;
    font-size: 50px;
    position: absolute;
    top:2%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}
.etoile{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/pngeggmodif.png);
    background-repeat: no-repeat;
    background-size: 110%;

}
.replay{
    position: absolute;
    top:10%;
    height: 10%;
    width: 20%;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
}
button{
    background-color: whitesmoke;
}
@media screen and (max-width: 918px) {
    .jeu{
        margin-top: 50px;
        height: 300px;
        width: 450px;
        position: absolute;
        top: 50%
    }
    .bouton{
        width: 100px;
        height: 70px;
        border-radius: 5px;
        font-size: 25px;
        cursor: pointer;
    }
    h1{
        text-align: center;
        color: aliceblue;
        font-size: 50px;
        position: absolute;
        top:19%;
    }
    .score{
        color: aliceblue;
        font-size: 20px;
        padding-top: 5%;
    }
    h2{
        color: aliceblue;
        font-size: 30px;
        text-align: center;
    }
    .res{
        color: aliceblue;
        font-size: 25px;
        position: absolute;
        top:2%;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    .resultOrdi, .resultJoueur{
        width: 30vw;
        height: 40vh;   
    }
    .gg img, .loose img{
        width: 100%;
    }
    .replay{
        position: absolute;
        top:10%;
        width: 150px;
        height: 60px;
        border-radius: 5px;
        font-size: 40px;
        cursor: pointer;
    }
    
}

@media screen and (max-width: 460px) {
    .jeu{
        margin-top: 50px;
        height: 250px;
        width: 350px;
        position: absolute;
        top: 50%
    }
    .bouton{
        width: 70px;
        height: 50px;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .btn{
        margin-top: 2%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #restart{
        margin-bottom: 1%;
    }
    .gg img, .loose img{
        width: 100%;
    }
    .replay{
        position: absolute;
        top:10%;
        width: 150px;
        height: 60px;
        border-radius: 5px;
        font-size: 40px;
        cursor: pointer;
    }
    
    
  }
  @media screen and (orientation:landscape) and
  (min-device-width: 320px) and (max-device-width: 900px) {
     .res{
         font-size: 18px;
         position: relative;
     }
    .jeu{
        height: 180px;
        width: 500px;
        position: fixed;
        top: 35%;
    }
    .bouton{
        width: 100px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    .btn{
        margin-top: 1%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #restart{
        margin:0%;
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
    .imgResultJoueur, .imgResultOrdi{
        width: 90%;
        height: 100%;
    }
    .loose img{
        width: 40%;
    }
    .gg img{
        width: 30%;
    }
    .replay{
        top:2%;
    }
    .resultOrdi{
        position: fixed;
        top:5%;
        right:0%;
    }
    .resultJoueur{
        position: fixed;
        top:5%;
        left:0%;
    }
    .score{
        padding: 2%;
    }
}