@font-face {
    font-family: "tkt";
    src: url("../CHEDROS.ttf")}
*{
    margin: 0;
    font-family: tkt;
    user-select: none;
}
body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right bottom, #051937, #131736, #1c1634, #241431, #2a122e);
    background-size: 100%;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.jeu{
    margin-top: 50px;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bouton{
    width: 150px;
    height: 90px;
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
}
.select{
    background-color: beige;
}
#restart{
    margin-top: 40px;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    font-size: 28px;
}
.score{
    color: aliceblue;
    font-size: 30px;
}
.gg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.54);
    visibility: hidden;
}
.loose{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.54);
    visibility: hidden;
}
.active{
    visibility: visible;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}
.resultOrdi, .resultJoueur{
    width: 20vw;
    height: 40vh;   
}
.imgResultJoueur, .imgResultOrdi{
    width: 100%;
    height: 90%;
}
.addImagePierre{
    background-image: url(../img/pierre.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.addImageFeuille{
    background-image: url(../img/feuille.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.addImageCiseaux{
    background-image: url(../img/ciseaux.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
h2{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
.res{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.etoile{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/pngeggmodif.png);
    background-repeat: no-repeat;
    background-size: 110%;
    z-index: -10;

}