*{
    margin: 0;
}
body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right bottom, #2c0537, #372046, #443852, #534f5d, #666666);
}
.jeu{
    margin-top: 50px;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bouton{
    width: 150px;
    height: 90px;
    border-radius: 5px;
    font-size: 35px;
}
.select{
    background-color: beige;
}
#restart{
    margin-top: 40px;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
}
.score{
    color: aliceblue;
    font-size: 30px;
}
.gg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.54);
    visibility: hidden;
}
.loose{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 73, 74, 0.54);
    visibility: hidden;
}
.active{
    visibility: visible;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}